<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>jTransfer.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>jTransfer.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/files</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListFilesServlet</servlet-name>
        <servlet-class>jTransfer.ListFilesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListFilesServlet</servlet-name>
        <url-pattern>/ls</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetFileServlet</servlet-name>
        <servlet-class>jTransfer.GetFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFileServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>jTransfer.TransferSessionListener</listener-class>
    </listener>
</web-app>