html,
#lightbox {
    min-width: 300px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

#items > li {
    float: left;
    height: 120px;
    width: 100px;
    margin: 5px;
    background-color: #c9cac6;
    border-radius: 5px;
}

#items > li > a {
    display: block;
    /* Height is above height - 4*/
    height: 116px;
    width: 100px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#items > li > a > img {
    height: 96px;
    width: 96px;
}

#items > li:hover {
    background-color: #888a85;
}

.btn:hover {
    background-color: #888a85;
}

#items {
    list-style-type: none;
}

.row {
    margin: 0px 15px 0px 15px;
}

#logout {
    margin-top: 20px;
}

.files {
    padding: 0px;
    margin: 0;
}

.files > .row {
    padding: 2px;
}

#items {
    padding: 0px;
}

#lightbox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 150, 150, 0.5);
    padding-top: 40px;
}

#closeLightbox {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
}

#lightbox > .container > .jumbotron > .row > span {
    width: 10%;
    font-size: 17px;
}

#lightbox > .container > .jumbotron > .row > span > a {
    cursor: pointer;
}

#lightbox > .container > .jumbotron > .row > h2 {
    display: inline-block;
    width: 90%;
}

button > .glyphicon {
    margin-right: 3px;
}

.btn {
    background-color: #c9cac6;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

body > div:last-of-type {
    flex-grow: 1;
}

#editor {
    border-radius: 0;
    border: none;
}

#editrow {
    height: 100%;
    margin: 0;
    padding: 0;
}

#editrow > pre {
    height: 100%;
}

#editrow * {
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron {
    background-color: #f0f0f0;
}

#editjumbo {
    height: calc(100vh - 131px);
}

#editoptions > * {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

#editoptions > select {
    width: 30%;
}

#file-select{
    display: inline;
}

#uploadForm {
    display: inline;
}

#error {
    background-color: #ff6666;
    font-size: 14pt;
    text-align:center;
}

@media screen and (max-width: 767px) {
    #editoptions > select {
        width: 100%;
        margin-top: 3px;
    }
    #logout {
        margin: 0;
    }
    #editjumbo {
        height: calc(100vh - 199px);
    }
    #items > li {
        float: left;
        height: 64px;
        width: 100%;
        margin: 5px;
        background-color: #c9cac6;
        border-radius: 5px;
    }
    #items > li > a {
        display: block;
        /* Height is above height - 4*/
        height: 60px;
        width: 100%;
        padding: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #items > li > a > img {
        height: 56px;
        width: 56px;
        display: inline-block;
        padding-right: 5px;
    }
}